<!DOCTYPE html>
<html>
    <head>
        <title>Chat App</title>
        <script src="https://cdn.socket.io/4.4.1/socket.io.min.js" integrity="sha384-fKnu0iswBIqkjxrhQCTZ7qlLHOFEgNkRmK2vaO/LbTZSXdJfAu6ewRBdwHPhBo/H" crossorigin="anonymous"></script>
        <script defer src = "client.js"></script> 
        <style>
            .current-user{
                margin-left: auto;
                color : blue;
            }
            .other-user{
                margin-right : auto;
            }
        </style>
    </head>
    <body style = "display: flex; flex-direction: column; justify-content: flex-end; align-items: center;">
        <h1 id = "head">Chat Interface</h1>
        <div style = "margin-top: 5px; margin-bottom: 5px;">
            <label for = "name">Name : </label>
            <input id = "name" type = "text">
            <button id = "name-btn">Enter</button>
        </div>
        <div>
            <h4 id = 'userCount'>Users : 0</h4>
        </div>
        <div style = "text-align : center; width: 600px; min-height : 650px; background: beige;">
            <h2>Message</h2>
            <div style = "display: flex; flex-direction: column; align-items: flex-start; padding-right: 5px; padding-left: 5px;"id = "main">

            </div>
        </div>
        <div style = "display : flex; margin-top: 5px; flex-direction: row;">
            <input id = "message" type = "text" placeholder="Message" style = "width: 520px;">
            <button id="message-btn"style=  "margin-left: 5px;">Send</button>
        </div>
        <div style = "display : flex; margin-top: 5px; flex-direction: row;">
            <input id = "room" type = "text" placeholder="Room" style = "width: 520px;">
            <button id = "room-btn" style=  "margin-left: 5px;">Go</button>
        </div>
    </body>
</html>